
@{
    ViewBag.Title = "RptProductos";
}
<script>
    $(document).ready(function () {
        //BOTON INCRUSTAR REPORTE
        $("#btnIncrustar").on("click", function () {
            $("#reportSimple").attr("src", "VerRptProductos").load();
        });
        //BOTON DESCARGAR REPORTE
        $("#btnDescargar").on("click", function () {
            window.open("VerRptProductos");
        });
    });
</script>

<main class="my-5">
    <div class="container">
        <div class="row">
            <!-- Resporte Simple Productos-->
            <div class="col-md-12">
                <h2>Reporte Productos</h2>
                <hr />
                <input type="button" id="btnIncrustar" value="Ver Reporte" class="btn btn-success" />
                <input type="button" id="btnDescargar" value="Descargar Reporte" class="btn btn-warning" />
                <hr />
                <iframe id="reportSimple" style="width:100%; height:600px;" frameborder="0"
                        scrolling="yes">
                </iframe>
            </div>
        </div>
    </div>
</main>
